{% extends "base.html" %}{% block content %} {% load static %}
<section class="content">
    <section class="main-header" style="display:flex; gap: 1%;">
        <img class="twitter" src="{% static 'img/twitter.png' %}" style="width:7%; position: relative; bottom:3px " />
        
        <h2 style="color:#000608; font-weight:bold; font-family: auto;"> Edit </h2>

    </section>

    <section class="post_form">
        <div class="primary">
            <img src="{% static 'img/n.jpg' %}" style="width:69px; border-radius:50%;" />
        </div>
        <div class="main1">
        <form action="/edit/{{post.id}}/" method="POST" enctype="multipart/form-data" class="forms">
            {% csrf_token %}
            <input type="text" value="{{post.name}}" name="name" id="name"  />

            <input id="textarea" name="body" value="{{post.body}}" />
            {% if post.image.url %}
            <img class="main-img"src="{{post.image.url}}" alt="image" />
            {%endif %}
            <div class="files">
                <input type="file" value="Choose File" name="image" />
                <br />

                <div class="buttons">
                    <a href="/"> <input type="submit" id="cancel" value="Cancel" /></a>
                    <input type="submit" value="Update" id="tweet"  />
                    
                </div>
            </div>
            </div>
        </form>

        {% endblock %}
    </section>
</section>