{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="icon" type="img/png" href="img/techis-logo.png">
</link>
<section class="content">
    <header>
        <img class="twitter" src="{% static 'img/twitter.png' %}" style="width:7%; position: relative; bottom:3px " />
        
        <h2 style="color:#000608; font-weight:bold; font-family: auto;"> Home </h2>

    </header>



    <section class="post_form">
        <form action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <img class="menu_icon js-menu-icon" src="{% static 'img/n.jpg' %}"
                style="width:22%; height: 121px; border: 24px solid #fafcfc; border-radius: 50%;" />
            </link>
            <input type="text" name="name" placeholder="Name" required>
            <textarea name="body" placeholder="What's happening? " required></textarea>'
            <input type="file" id="files" name="image" required />

            <input class="submit" type="submit" value="Tweet"
                style="width: 19%; border-radius: 14px; float: right; color: white; background-color: #00ACEE" />
        </form>
    </section>
    <section class="posts">
        <ul>
            {% for post in posts %}
            <li>

                <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
                <div class="menu">
                    <div id="e" style="border-radius: 11px; background-color: #00ACEE;text-align: center; padding:5px; position: relative; top: -3px;">
                    <a href="/edit/{{post.id}}/" style="color:#fafcfc;"> Edit </a> <br>
                    </div>
                    <div id="d" style="border-radius: 11px; background-color: #00ACEE;text-align: center; padding: 6px; ">
                    <a href="/delete/{{post.id}}/" style="color:#fafcfc; font-size: 11px; position: inherit;">Delete</a>
                    </div>

                </div>
                <div class="logo">
                    <img src="{% static 'img/ima.jpeg' %}"
                        style="width:75px; height: auto; border: 6px solid #fafcfc; border-radius: 50%; position: relative; bottom: 20px;" />
                </div>
                <div class="name_body">
                    <div class="name"style="font-weight: bold; position: relative;bottom:7px">{{post.name}}</div>
                    <div class="datetime" style="position:static; float:right ;">{{post.created_at}}</div>
                    <p>{{post.body}}</p>
                    <img class="body-image" src="{{post.image.url}}" alt="" />
                    <div class="icon_list" style="position:relative ; top: 10px; right: 61px;">
                        <a href="/like/{{post.id}}"> <img src="/static/img/like.png" style="width:30px;" alt="like" />
                        </a>
                        {{ post.likes }}
                    </div>
                </div>

            </li>
            {% endfor %}
        </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>
{% endblock %}
